.achievement-Screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 15px;

  width: 100%;
  height: 100%;
}


.header-Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  width: 100%;
  height: 100px;
}
.back-Btn {
  border: none;
  background-color: transparent;
}
.achievement {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--text-heading);
  color: var(--tertiary-color);
}
/* Hidden */
.useless-Container {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  height: 100%;
}


.achievements-Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;

  font-size: var(--text-heading);
  color: var(--secondary-color);  
}
.achievement-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100px;
  position: relative;
}
.achievement-bakcground {
  position: absolute;
  z-index: -2;
  width: 400px;
  filter: var(--whiteFilter-color)
}
.achievement-icons {
  width: 120px;
  height: 120px;
  transition: width 0.22s, height 0.22s;
}
.achievement-icons:hover {
  width: 130px;
  height: 130px;
}
.achievement-icons:active {
  width: 120px;
  height: 120px;
}



.label-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100px;
}
.label-txt {
  font-size: var(--text-subheading);
}